.guigui > .head 
  height 38px

  .close-button
    background backgroundDarkColor
    width 30px
    height 30px
    position absolute
    right 0px
    cursor pointer
    @extends .shadow
    
    .content
      width 60%
      height 60%
      top 20%
      left 20%
      position absolute
    
    .vertical, .horizontal
      position absolute
      background highlightColor

    .vertical
      width 2px
      height 100%
      left 50%
      transform translateX(-50%) 
      
    .horizontal
      height 2px
      width 100%
      top 50%
      transform translateY(-50%)
      
.guigui.opened > .head .content
  transform rotate(45deg)