input
  margin 0
  border 0
  padding 0
  display inline-block
  vertical-align middle
  white-space normal
  background none
  line-height 1
  
  font-size 13px
  font-family Arial
  
  box-sizing content-box

input:focus
  outline 0