@import '../extends.css';

.guigui-text {
  user-select: none;
}

.guigui-text-label {
  @extend labelInputs;
}

.guigui-text-value {
  @extend inputs;
  float: left;
  height: 10px;
  font-size: 11px;
  text-align: left;
  margin: 0px;
  border: 0px;
  padding: 4px 5px;
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  outline: 0px;
}
