.gg-ColorPicker
  position relative
  font-size 0.8em
  height 24px
  @extend .clearfix

.gg-ColorPicker-label
  width calc(31.5% - 20px)
  height 100%
  line-height 40px * 0.6
  float left
  margin-right 10px
  @extends .label
  
.gg-ColorPicker-state
  background red
  width calc(68.5% - 8px)
  height 16px
  float left
  padding 4px
  box-shadow inset 0px 1px 8px rgba(0, 0, 0, 0.2), inset 0px -1px 1px rgba(255, 255, 255, 0.1)
  
.gg-ColorPicker-text
  color white
  
.gg-ColorPicker > .Scp
  position absolute
  z-index 999
  top 30px
  right 4px
  display none
  background labelBackgroundColor
  @extends .shadow
  
  &.isOpened 
    display block
