pickerSize = 150px
pickerHueWidth = 20px

.guigui .color-picker
    position relative
    font-size 0.8em
    @extend .clearfix
    

    .label
      width calc(29.5% - 10px)
      height 100%
      line-height 40px * 0.6
      float left
      margin-right 10px
      user-select none
      
    .state
      background red
      width calc(67.5% - 8px)
      height 16px
      float left
      padding 4px
      box-shadow inset 0px 1px 8px rgba(0, 0, 0, 0.2), inset 0px -1px 1px rgba(255, 255, 255, 0.1)
      
      .text
        color white
      
    .scp
      position absolute
      z-index 999
      top 30px
      left 32.5%
      display none
      background labelBackgroundColor
      @extends .shadow
      
      &.opened 
        display block
