.Guigui
  
  .launcher
    height 24px
    cursor pointer
    user-select none
    
    .label
      font-size 0.8em
      line-height 24px
      height 100%
      color textMainColor
      font-style normal
      text-transform capitalize
      // background fieldBackgroundColor
    
    span
      position relative
      top -1px
      left 4px
      color highlightColor

    &:active
      background lightColor