.Guigui
  
  .slider
    height 24px
    font-size 0.8em
    
  .slider .label, .slider .container, .slider .value
    float left

  .slider .label
    width calc(29.5% - 10px)
    height 100%
    line-height 40px * 0.6
    
  .slider .container
    width 50%
    margin 0 10px
    height 100%
    position relative
    cursor ew-resize
    
    .background, .handle, .indice
      position absolute
      pointer-events none
    
    .background, .handle
      width 100%
      height 18%
      top 11%
      
    .background
      background-linear-gradient(to right, primaryValidColor, 0%, secondaryValidColor, 100%)
      
    .handle
      width 100%
      background fieldBackgroundColor
      right 0
      transform-origin right
    
    .indice
      color textSecondaryColor
      font-size 0.7em
      bottom 10%
    
    .min
      left 0
    
    .max
      right 0

  .slider .value
    font-family Courier New, Arial
    background fieldBackgroundColor
    color textHighlightColor
    height 100%
    line-height 40px * 0.6
    width 14.5%
    font-size 0.9em
    text-align center
    