.guigui
  
  .toggler
    height 24px
    cursor pointer
    user-select none
    
    .label
      font-size 0.8em
      line-height 24px
      height 100%
      width calc(29.5% - 10px)
      float left
      
    /*
    .state
      position relative
      background-linear-gradient(to right, secondaryInvalidColor, 0%, primaryInvalidColor, 100%)
      float left
      height 100%
      width 70px
      margin 0 0 0 10px
    
    .handle
      position absolute
      width calc(50% - 6px)
      height calc(100% - 6px)
      background fieldBackgroundColor
      top 3px
      left 3px
      transition left 0.4s cubic-bezier(0.19, 1, 0.22, 1)
    */
    
    .state
      position relative
      background shadowColor
      height 100%
      width 24px
      float left
      border-radius 3px
      margin 0 0 0 10px
      box-shadow 0px 2px 1px rgba(255, 255, 255, 0.05)
    
    .handle
      position absolute
      background highlightColor
      width 50%
      height 50%
      top 25%
      left 25%
      border-radius 3px
      display none

    &.on
      // .state
      //   background-linear-gradient(to right, primaryValidColor, 0%, secondaryValidColor, 100%)
      
      .handle
        display block