/* ================================================================================
  UTILS
=================================================================================*/
@import "utils/*";

/* ================================================================================
  CONFIG
=================================================================================*/
@import "config/*";

/* ================================================================================
  MIXINS
=================================================================================*/
background-linear-gradient(startPoint, startColor, startInterval, endColor, endInterval)
  background-color startColor
  background linear-gradient(startPoint, startColor startInterval, endColor endInterval)
  
/* ================================================================================
  EXTENDS
=================================================================================*/
.shadow
  box-shadow inset 0 1px 1px rgba(255, 255, 255, 0.06)
  background-image linear-gradient(rgba(255, 255, 255, 0.02), rgba(255, 255, 255, 0))
  border 1px solid borderColor
  // border-radius 3px

/* ================================================================================
  MAIN
=================================================================================*/
.guigui
  position fixed
  top 10px
  right 10px
  z-index 999
  font-family Arial

  .main-content
    display none
    
.guigui.opened .main-content
      display block
/* ================================================================================
  Globals
=================================================================================*/
  .component 
    width 350px
    padding 5px
    background backgroundMainColor
    color textMainColor
    @extends .shadow
    
    &:last-child
      border-bottmom none
    
    &:first-child
      border-bottmom none
      
    .label
      text-align center
      overflow hidden
      text-overflow ellipsis
      // background labelBackgroundColor
      font-style italic
      padding 0 5px
      
@import "../../node_modules/simple-color-picker/simple-color-picker.css"

/* ================================================================================
  COMPONENTS
=================================================================================*/      
@import "base/*"
@import "components/*"
