/* ================================================================================
  UTILS
=================================================================================*/
@import "utils/*";

/* ================================================================================
  CONFIG
=================================================================================*/
@import "config/*";

/* ================================================================================
  MIXINS
=================================================================================*/
background-linear-gradient(startPoint, startColor, startInterval, endColor, endInterval)
  background-color startColor
  background linear-gradient(startPoint, startColor startInterval, endColor endInterval)
  
/* ================================================================================
  EXTENDS
=================================================================================*/
.shadow
  box-shadow inset 0 1px 1px rgba(255, 255, 255, 0.06)
  background-image linear-gradient(rgba(255, 255, 255, 0.02), rgba(255, 255, 255, 0))
  border 1px solid borderColor

.label
  text-align center
  overflow hidden
  text-overflow ellipsis
  font-style italic
  padding 0 5px

/* ================================================================================
  MAIN
=================================================================================*/
.Guigui
  width 350px
  position fixed
  top 10px
  right 10px
  z-index 999
  font-family Arial

  .main-content
    display none
    
  .resize-zone
    width 10px
    height calc(100% - 38px)
    background red
    opacity 0
    position absolute
    top 38px
    left -5px
    cursor ew-resize
    
.Guigui.opened .main-content
      display block
/* ================================================================================
  Globals
=================================================================================*/
  .component 
    width calc(100% - 10px)
    padding 5px
    background backgroundMainColor
    color textMainColor
    @extends .shadow
    
    &:last-child
      border-bottmom none
    
    &:first-child
      border-bottmom none
      
    .label
      text-align center
      overflow hidden
      text-overflow ellipsis
      // background labelBackgroundColor
      font-style italic
      padding 0 5px
      
@import "../../node_modules/simple-color-picker/simple-color-picker.css"

/* ================================================================================
  COMPONENTS
=================================================================================*/      
@import "base/*"
@import "components/*"
